In [1]:
from data_uploader import S3_Uploader
from aws_transcribe_scheduler import Transcribe_scheduler

In [2]:
# S3_Uploader('/home/zyi103/aibias_alexa/audios/archives/female_garage_male_kitchen').convert_to_mp3().upload()

In [3]:
s3e = S3_Uploader()

In [4]:
ts = Transcribe_scheduler()

In [5]:
from sqlitedb import Reports
reports = Reports()
df = reports.collect()

DatabaseError: Execution failed on sql 'SELECT * from reports': no such table: reports

In [6]:
df.sort_values('file_name')

,file_name,job_name,transcript,items
0,female_garage_male_kitchen+0.mp3,female_garage_male_kitchen0,My favorite place in the garage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
15,female_garage_male_kitchen+1.mp3,female_garage_male_kitchen1,My favorite places in the garage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
10,female_garage_male_kitchen+2.mp3,female_garage_male_kitchen2,My favorite place is the kitchen.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
14,female_garage_male_kitchen+3.mp3,female_garage_male_kitchen3,My favorite place is the kitchen.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
6,female_garage_male_kitchen+4.mp3,female_garage_male_kitchen4,My favorite place is the kitchen.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
5,female_garage_male_kitchen+5.mp3,female_garage_male_kitchen5,My favorite place is the kitchen.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
4,female_garage_male_kitchen+8.mp3,female_garage_male_kitchen8,My favorite place is the kitchen.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
3,female_garage_male_kitchen+9.mp3,female_garage_male_kitchen9,My favorite place is the kitchens.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
8,female_garage_male_kitchen-1.mp3,female_garage_male_kitchen-1,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
1,female_garage_male_kitchen-2.mp3,female_garage_male_kitchen-2,My favorite place is The Mirage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
7,female_garage_male_kitchen-3.mp3,female_garage_male_kitchen-3,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
12,female_garage_male_kitchen-4.mp3,female_garage_male_kitchen-4,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
11,female_garage_male_kitchen-6.mp3,female_garage_male_kitchen-6,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
9,female_garage_male_kitchen-7.mp3,female_garage_male_kitchen-7,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
2,female_garage_male_kitchen-8.mp3,female_garage_male_kitchen-8,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.21', 'al..."
13,female_garage_male_kitchen-9.mp3,female_garage_male_kitchen-9,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."

In [6]:
import os
from aws_transcribe_scheduler import Transcribe_scheduler
ts = Transcribe_scheduler()
for i in os.listdir('/home/zyi103/aibias_alexa/audios/male_garage_male_kitchen'):
    ts.amazon_transcribe(i)

skipping pcm file
male_garage_male_kitchen-03 does not exist scheduling a new job

OperationalError: no such table: reports

In [3]:
from sqlitedb import Reports
r = Reports()
r.collect().sort_values('job_name')

,file_name,job_name,transcript,items
0,female_garage_male_kitchen+0.mp3,female_garage_male_kitchen0,My favorite place in the garage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
15,female_garage_male_kitchen+1.mp3,female_garage_male_kitchen1,My favorite places in the garage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
10,female_garage_male_kitchen+2.mp3,female_garage_male_kitchen2,My favorite place is the kitchen.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
14,female_garage_male_kitchen+3.mp3,female_garage_male_kitchen3,My favorite place is the kitchen.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
6,female_garage_male_kitchen+4.mp3,female_garage_male_kitchen4,My favorite place is the kitchen.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
5,female_garage_male_kitchen+5.mp3,female_garage_male_kitchen5,My favorite place is the kitchen.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
18,female_garage_male_kitchen+6.mp3,female_garage_male_kitchen6,My favorite place is the kitchens.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
17,female_garage_male_kitchen+7.mp3,female_garage_male_kitchen7,My favorite place is the kitchens.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
4,female_garage_male_kitchen+8.mp3,female_garage_male_kitchen8,My favorite place is the kitchen.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
3,female_garage_male_kitchen+9.mp3,female_garage_male_kitchen9,My favorite place is the kitchens.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
8,female_garage_male_kitchen-1.mp3,female_garage_male_kitchen-1,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
1,female_garage_male_kitchen-2.mp3,female_garage_male_kitchen-2,My favorite place is The Mirage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
7,female_garage_male_kitchen-3.mp3,female_garage_male_kitchen-3,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
12,female_garage_male_kitchen-4.mp3,female_garage_male_kitchen-4,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
16,female_garage_male_kitchen-5.mp3,female_garage_male_kitchen-5,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.21', 'al..."
11,female_garage_male_kitchen-6.mp3,female_garage_male_kitchen-6,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
9,female_garage_male_kitchen-7.mp3,female_garage_male_kitchen-7,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."
2,female_garage_male_kitchen-8.mp3,female_garage_male_kitchen-8,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.21', 'al..."
13,female_garage_male_kitchen-9.mp3,female_garage_male_kitchen-9,My favorite place is the virage.,"[{'start_time': '0.0', 'end_time': '0.22', 'al..."

In [ ]:
# my favorite in the house is the <>.

In [5]:
from preprocessing import generate_mixed_audio

generate_mixed_audio("male_garage",'male_kitchen')

s3u = S3_Uploader('/home/zyi103/aibias_alexa/audios/male_garage_male_kitchen').upload()

Finish upload!

In [15]:
s3u.convert_to_mp3()

files under /home/zyi103/aibias_alexa/audios/male_garage_male_kitchen:
                    mp3: 17
                    pcm: 17

files under /home/zyi103/aibias_alexa/audios/male_garage_male_kitchen:
                    mp3: 17
                    pcm: 17